<html>
    <head>
        <title>BlackBerry World Apps</title>
        <meta name="authors" content="Nikolay Khramchenkov"/>
        <meta name="date" content="2014-12-07 23:59"/>
        <meta name="lang" content="en"/>
        <meta name="modified" content="2015-08-24 21:00"/>
        <meta name="tags" content="thats, awesome"/>
    </head>
    <body>
        <script>
            angular.module('ui.bootstrap.blackberry.apps', ['ngSanitize', 'ui.bootstrap']);
            angular.module('ui.bootstrap.blackberry.apps').controller('CarouselCtrl', function ($scope) {
                $scope.myInterval = 0;
                $scope.selectedSlide = {};
                var slides = $scope.slides = [];

                slides.push({
                    image: 'http://appworld.blackberry.com/webstore/servedimages/15438138.png/?t=12',
                    text: 'DjVu Reader',
                    description: '"DjVu Reader" application for BlackBerry® 10 will let your BlackBerry® 10 read your favorite DjVu books and documents.<br><br>\
<h3><strong>Features</strong>:</h3>\
<ol>\
<li>Storing bookmarks of the documents pages.</li>\
<li>Storing history of the opened documents.</li>\
<li>Opening the last document on application start.</li>\
<li>Opening DjVu documents with the File Manager.</li>\
<li>Sharing DjVu documents.</li>\
<li>Crop, rotate, zoom.</li>\
</ol>',
                    releases: [
                        {version: '0.0.1.3 (2014/09/08, OS 10.2+)', description: 'Updated UI; added checks for corrupted input files.'},
                        {version: '0.0.1.2 (2014/09/08, OS 10.2+)', description: 'OS 10.3 related UI fixes; updated UI; added thumbnails for bookmark & recent files.'},
                        {version: '0.0.1.1 (2014/08/27, OS 10.2+)', description: 'Handling broken pages - white (black) page shown.'},
                        {version: '0.0.0.9 (2014/08/20, OS 10.2+)', description: 'Volume buttons for prev/next page. UI improvements: displaying sheet, inverted color mode. Shortcuts for Q series devices updated.'},
                        {version: '0.0.0.8 (2014/08/05, OS 10.2+)', description: 'Test implementation of swipe gestures (enables on Settings page); added more async.'},
                        {version: '0.0.0.7 (2014/07/30, OS 10.2+)', description: 'Updated UI; added cache for 8 pages; fixed theme changing.'},
                        {version: '0.0.0.6 (2013/08/19, OS 10.1+)', description: 'Updated UI. Crop, rotate, zoom added.'},
                        {version: '0.0.0.5 (2013/08/13, OS 10.1+)', description: 'Fixed black screen on document showing, added sharing documents via system share dialog.'},
                        {version: '0.0.0.4 (2013/06/24, OS 10.1+)', description: 'Added Russian translation, updated UI.'},
                        {version: '0.0.0.3 (2013/05/27, OS 10.1+)', description: 'Updated UI.'},
                        {version: '0.0.0.2 (2013/05/06, OS 10.1+)', description: 'Initial release. Features: pinch to zoom, bookmarks, list of recent documents, active frame.'}
                    ],
                    url: 'http://appworld.blackberry.com/webstore/content/27847850'
                });

                slides.push({
                    image: 'http://appworld.blackberry.com/webstore/servedimages/37934562.png/?t=12',
                    text: 'Jokes',
                    description: '"Jokes" application for BlackBerry® 10 is the client to the popular English and Russian jokes sites: anekdot.ru, bash.im, bash.org, besit2.ru, cmex2.ru, dearblankpleaseblank.com, delonevtebe.ru, det.org.ru, everydaylifelessons.com, ibash.org.ru, ithappens.ru, killmeplz.ru, makesmethink.com, muzey-factov.ru, nextjoke.net, nya.sh, qdb.us, pip.ec, shortiki.com, vayamierdadevida.com, whatmoneycannotbuy.com, zadolba.li and others.<br><br>\
<h3><strong>Features</strong>:</h3>\
<ol>\
<li>Caching content.</li>\
<li>Choosing font color and size.</li>\
<li>Choosing update period</li>\
<li>Copy to clipboard</li>\
<li>Sharing content</li>\
<li>Starred tab</li>\
<li>Using system themes</li>\
</ol>',
                    releases: [
                        {version: '1.0.3.1 (2014/11/24, OS 10.3.1+)', description: 'Note!!! Since now access to the Settings page is a premium feature and minimum supported OS is 10.3.1. Added 2 new sources: breakingmad.me and justwunder.com'},
                        {version: '1.0.2.7 (2014/09/01, OS 10.2+)', description: 'Added 2 sources with images: atkritka.com, xkcd.com.'},
                        {version: '1.0.2.6 (2014/08/12, OS 10.2+)', description: 'Added new sources; fixed ithappens.me source.'},
                        {version: '1.0.2.5 (2014/07/30, OS 10.2+)', description: 'Added 3 new sources: 2 in Russian + 1 in Ukrainian languages. Fixed theme changing.'},
                        {version: '1.0.2.4 (2014/07/15, OS 10.2+)', description: 'Added Flurry Analitics. Added 2 new sources.'},
                        {version: '1.0.2.3 (2014/05/16, OS 10.2+)', description: 'Fixed Agreement page.'},
                        {version: '1.0.2.1 (2014/05/05, OS 10.2+)', description: 'Added new english & russian sources. Added auto update of sources. Fixed bugs.'},
                        {version: '1.0.2.0 (2014/05/02, OS 10.2+)', description: 'Updated UI; added new source dearlbankpleaseblank.com; bug fixes.'},
                        {version: '1.0.1.7 (2014/01/29, OS 10.2+)', description: 'Updated parsing of anekdot.ru source.'},
                        {version: '1.0.1.6 (2013/11/12, OS 10.1+)', description: 'Added new sorce; added settings for sticky titleBar.'},
                        {version: '1.0.1.5 (2013/09/20, OS 10.1+)', description: 'Added privacy policy link and new source pip.ec.'},
                        {version: '1.0.1.4 (2013/09/16, OS 10.1+)', description: 'Fixed theme changing. Added new sources: anekdot.ru and besit2.ru.'},
                        {version: '1.0.1.3 (2013/09/13, OS 10.1+)', description: 'Updated data parsing.'},
                        {version: '1.0.1.2 (2013/09/02, OS 10.1+)', description: 'UI updated according to the UI guideline, bug fixes.'},
                        {version: '1.0.1.1 (2013/08/30, OS 10.1+)', description: 'Updated UI, fixes.'},
                        {version: '1.0.0.9 (2013/08/27, OS 10.1+)', description: 'Updated UI, new sources added.'},
                        {version: '1.0.0.8 (2013/08/23, OS 10.1+)', description: 'Fixed bbm invocation, about page, local date used in list.'},
                        {version: '1.0.1.7 (2013/08/21, OS 10.1+)', description: 'BBM support added, active cover and translation fixed.'},
                        {version: '1.0.1.6 (2014/08/19, OS 10.1+)', description: 'Sharing, updated UI, several sources.'}
                    ],
                    url: 'http://appworld.blackberry.com/webstore/content/34369887'
                });

                slides.push({
                    image: 'http://appworld.blackberry.com/webstore/servedimages/37359951.png/?t=12',
                    text: 'Road Companion',
                    description: '"Road Companion" application for BlackBerry® 10 helps you learn driving theory and pass the exam successfully.<br><br>\
<h3><strong>Features</strong>:</h3>\
<ol>\
<li>Packages system: you will download from the application only neaded packages.</li>\
<li>Multiple countries support: Russia, Ukraine.</li>\
<li>The latest examination cards.</li>\
<li>The latest traffic fines.</li>\
<li>Regional codes of vehicle plates.</li>\
</ol>',
                    releases: [
                        {version: '1.0.1.6 (2015/06/24, OS 10.3.1+)', description: 'Added selection of the application theme: System, Ambient, Bright, Dark.<br>Added selection of the application language: System, English, Russian.<br>Added application hints.'},
                        {version: '1.0.1.5 (2014/12/01, OS 10.3.1+)', description: 'Added constrains to FREE VERSION: up to 2 packages of only 1 country. Moved to OS 10.3.1.'},
                        {version: '1.0.1.4 (2014/09/08, OS 10.2+)', description: 'Updated UI.'},
                        {version: '1.0.1.3 (2014/08/26, OS 10.2+)', description: 'Updated Russian translations. Support for new packages versions.'},
                        {version: '1.0.1.2 (2014/07/14, OS 10.2+)', description: 'Added support for new packages. Improved multiple languages support.'},
                        {version: '1.0.1.1 (2014/05/16, OS 10.2+)', description: 'Fixed typo. Updated application menu.'},
                        {version: '1.0.1.0 (2014/05/12, OS 10.2+)', description: 'Module system. Updated RTR, region codes.'},
                        {version: '1.0.0.3 (2013/10/04, OS 10.1+)', description: 'Added road signs.'},
                        {version: '1.0.0.2 (2013/10/02, OS 10.1+)', description: 'Updated UI, more exam cards added.'}
                    ],
                    url: 'http://appworld.blackberry.com/webstore/content/37460887'
                });

                slides.push({
                    image: 'http://appworld.blackberry.com/webstore/servedimages/37934578.png/?t=12',
                    text: 'Trains',
                    description: '"Trains" application for BlackBerry® 10 allows you to get actual timetables for different countries.<br><br>\
Features of the application are divided into two parts:\
<ol>\
<li>Free: usage of data providers iRail.be (Belgium), Aeroexpress (Russia (Vladivostok, Kazan, Moscow)), Metro (Belarus (Minsk), Russia (Moscow, Saint-Petersburg), UAE (Dubai), Ukraine (Kiev, Kharkov)), Russian Railways (Russia), Yandex.Trains (Armenia, Belarus, Kazakhstan, Lithuania, Moldova, Russia, Ukraine) (timetables, stops in the route, tickets cost, showing stops location in the Maps, if data provider supports this); storing routes in favorites; tickets expiration notifications. Showing distance to destination for Aeroexpress and Yandex.Trains data providers.</li>\
<li>Premium, available after in-app purchase: access to all setting of the application; enabled by default caching for iRail.be, Russian Railways, Yandex.Trains providers; enabled by default searching of several routes for Metro provider; adding entries into the Calendar application for Russian Railways, Yandex.Trains. List of all available settings are provided below.</li>\
</ol>\
On the Settings page one day demo mode could be activated only once. All application settings will be available as if premium features has been bought via in-app purchase. Once demo period ends all settings will be reverted to defaults for non-premium users.\
<br><br>\
<h3><strong>UI</strong>:</h3>\
<ol>\
<li><em>Theme</em> - theme of the application UI.<br>\
Available options: System, Ambient, Light, Dark.<br>\
Default value: System.</li>\
<li><em>Light Level</em> - minimum light level to use bright theme.<br>\
Available options: Dark, Twilight, Light, Bright, Sunny.<br>\
Default value: Bright.<br>\
Usage condition: Ambient theme.</li>\
<li><em>Application language</em> - language of the application UI.<br>\
Available options: System, English, German, Russian.<br>\
Default value: System.</li>\
<li><em>Show data provider icon</em> - show selected provider icon on the TitleBar.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Prevent screen locking</em>.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
</ol>\
<h3><strong>Data Providers</strong>:</h3>\
<ol>\
<li><em>Load provider state</em> - restore state of the provider on its selection.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Save provider state</em> -save state of the provider on selectiong another provider and / or application closing.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
</ol>\
<h3><strong><em>Aeroexpress</em></strong></h3>\
<ol>\
<li><em>Show time to the next train</em> - show time to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Highlight the next train</em> - highlight the next train on the routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Scroll to the next train</em> - constantly scroll to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
<li><em>Time shift</em> - time to add when computing the next train on the routes page.<br>\
Available options: 00:00:00 - 12:00:00.<br>\
Default value: 00:00:00.</li>\
<li><em>Use GPS</em> - use GPS to show distance to destination on route details page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Play Sound</em> - play sound on arriving to destination.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Distance</em> - distance to destination in meters to play sound.<br>\
Available options: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000.<br>\
Default value: 500.</li>\
</ol>\
<h3><strong><em>iRail.be</em></strong></h3>\
<ol>\
<li><em>Data Provider Language</em> - language to use to access to provider API.<br>\
Available options: System, English, Dutch, German, French.<br>\
Default value: System (English).</li>\
<li><em>Auto-Refresh</em> - Auto-Refresh on changing routes searching type or date.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show route duration</em> - show route duration on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show number of transfers</em> - show number of transfers on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show time to the next train</em> - show time to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Highlight the next train</em> - highlight the next train on the routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Scroll to the next train</em> - constantly scroll to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
<li><em>Time shift</em> - time to add when computing the next train on the routes page.<br>\
Available options: 00:00:00 - 12:00:00.<br>\
Default value: 00:00:00.</li>\
<li><em>Use cache</em> - use cache to store data.<br>\
Available options: Yes, No.<br>\
Default value: No (Yes - for premium).</li>\
<li><em>Keep days</em> - days to keep each cache file.<br>\
Available options: Unlimited, 5, 10, 15, 20, 25, 30.<br>\
Default value: 5.</li>\
</ol>\
<h3><strong><em>Metro</em></strong></h3>\
<ol>\
<li><em>Search for several routes</em>.<br>\
Available options: Yes, No.<br>\
Default value: No (Yes - for premium).</li>\
<li><em>Show route duration</em> - show route duration on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
</ol>\
<h3><strong><em>Russian Railways</em></strong></h3>\
<ol>\
<li><em>Data Provider Language</em> -  - language to use to access to provider API.<br>\
Available options: System, English, Russian.<br>\
Default value: System (English).</li>\
<li><em>Auto-Refresh</em> - Auto-Refresh on changing routes searching type or date.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Only With Tickets</em> - show trains on routes page with available seats only.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
<li><em>Show route duration</em> - show route duration on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show ticket price</em> - show tickets prices on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show time to the next train</em> - show time to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Highlight the next train</em> - highlight the next train on the routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Scroll to the next train</em> - constantly scroll to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
<li><em>Time shift</em> - time to add when computing the next train on the routes page.<br>\
Available options: 00:00:00 - 12:00:00.<br>\
Default value: 00:00:00.</li>\
<li><em>Use cache</em> - use cache to store data.<br>\
Available options: Yes, No.<br>\
Default value: No (Yes - for premium).</li>\
<li><em>Keep days</em> - days to keep each cache file.<br>\
Available options: Unlimited, 5, 10, 15, 20, 25, 30.<br>\
Default value: 5.</li>\
</ol>\
<h3><strong><em>Yandex.Trains</em></strong></h3>\
<ol>\
<li><em>Auto-Refresh</em> - Auto-Refresh on changing routes searching type or date.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show route duration</em> - show route duration on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show ticket price</em> - show tickets prices on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Show time to the next train</em> - show time to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Highlight the next train</em> - highlight the next train on the routes page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Scroll to the next train</em> - constantly scroll to the next train on routes page.<br>\
Available options: Yes, No.<br>\
Default value: No.</li>\
<li><em>Type</em> - UI control to use to select date.<br>\
Available options: Segments, Picker.<br>\
Default value: Segments.</li>\
<li><em>Time shift</em> - time to add when computing the next train on the routes page.<br>\
Available options: 00:00:00 - 12:00:00.<br>\
Default value: 00:00:00.</li>\
<li><em>Use cache</em> - use cache to store data.<br>\
Available options: Yes, No.<br>\
Default value: No (Yes - for premium).</li>\
<li><em>Keep days</em> - days to keep each cache file.<br>\
Available options: Unlimited, 5, 10, 15, 20, 25, 30.<br>\
Default value: 5.</li>\
<li><em>Use GPS</em> - use GPS to show distance to destination on route details page.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Play Sound</em> - play sound on arriving to destination.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
<li><em>Distance</em> - distance to destination in meters to play sound.<br>\
Available options: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000.<br>\
Default value: 500.</li>\
</ol>\
<h3><strong>Recent</strong>:</h3>\
<ol>\
<li><em>Keep recent</em> - keep history of searching.<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
</ol>\
<h3><strong>Tickets</strong>:</h3>\
<ol>\
<li><em>Check tickets for expiration</em> - show ticket expiration notifications (less that one day to expire).<br>\
Available options: Yes, No.<br>\
Default value: Yes.</li>\
</ol>',
                    releases: [
                        {version: '1.0.4.20 (2015/07/26, OS 10.3.1+)', description: 'Fixed &apos;Add to Calendar&apos; for Russian Railways data provider.'},
                        {version: '1.0.4.19 (2015/06/05, OS 10.3.1+)', description: 'Added more usage hints.<br>Added setting to disable showing hints.<br>Added settings to show distance to stations on Choose page.<br>Added showing distance to destination on Active Cover for selected route.<br>Updated UI.'},
                        {version: '1.0.4.18 (2015/05/12, OS 10.3.1+)', description: 'Added Dubai metro support.<br>Added 1 second delay before autocompletion as fix for issue with typing adjacement buttons on qwerty devices in case of fast internet for Russian Railways provider.<br>Added showing distance to destination on Active Cover for Metro and Yandex.Trains providers.<br>As of now timetables for iRail, Russian Railways are recalculating to device time zone.<br>Added more application usage hints.<br>Removed obsoleted regions of Aeroexpress provider.<br>Updated UI.'},
                        {version: '1.0.4.17 (2015/04/27, OS 10.3.1+)', description: 'Added hints about features of the application on appropriate pages.<br>Added aggressive cache usage setting (disabled by default) for Yandex.Trains provider.<br>Added fast open of data provider settings by touching a provider icon on the Routes page.<br>As of now adding a record into Calendar with selected route is PREMIUM feature.<br>Added &apos;Set On Search&apos; context action on Favorites and Recent pages (this will work correctly with new records only).'},
                        {version: '1.0.4.16 (2015/03/31, OS 10.3.1+)', description: 'Fixed data for calculation of subway cars hints.<br>Updated subway cars hint colors: red for selected car and orange for not selected.'},
                        {version: '1.0.4.15 (2015/03/26, OS 10.3.1+)', description: 'Added Recent page shows history of searching (enabled by default).<br>Added setting to prevent screen from locking (disabled by default).<br>Added subway cars hints (for all supported maps) on route details page for Metro data provider (enabled by default).<br>Updated Saint Petersburg metro map.'},
                        {version: '1.0.4.14 (2015/03/25, OS 10.3.1+)', description: 'Updated UI:<br>1. Changing application theme in runtime.<br>2. Added ambient theme with configurable light level threshold for switching to bright theme.<br>3. Added indicator of odd/even rows in the lists on Routes (for all data providers), Favorites and Tickets pages.<br>4. Added showing selected train on Active Cover for all data providers.<br>5. Added showing tickets fares for Minsk, Moscow, Saint Petersburg metros on Route Details page.<br><br>Fixed found issues.'},
                        {version: '1.0.4.13 (2015/03/09, OS 10.3.1+)', description: 'Updated UI.<br>Updated Metro map of Moscow.<br><br>Added usage of GPS to show distance to destination for Aeroexpress and Yandex.Trains data providers.<br>To use this application feature following settings must be anabled:<br>1) System settings -&gt; Location Services -&gt; Location Services.<br>2) Permission for Trains to use Location.<br>3) Settings -&gt; Data Providers -&gt; Provider -&gt; Use GPS.'},
                        {version: '1.0.4.12 (2015/02/26, OS 10.3.1+)', description: 'Updated UI of Yandex.Trains route on the route details page.<br>Updated Metro map of Moscow.<br>Added showing Metro routes on maps on the route details page.'},
                        {version: '1.0.4.11 (2015/02/24, OS 10.3.1+)', description: 'Updated UI of Metro route on the route details page.<br>Added selection of Metro stations on Map and showing Metro maps on the route details page.'},
                        {version: '1.0.4.10 (2015/02/17, OS 10.3.1+)', description: 'Updated UI:<br>1. "Add To Calendar" action available for iRail.be, RussianRailways, Yandex.Trains providers on routes page and action bar of routes details page.<br>2. Updated items in lists on routes page for all data providers.<br>Updated translations.<br>Fixed Yandex.Trains issues with getting list of regions.'},
                        {version: '1.0.4.9 (2015/02/16, OS 10.3.1+)', description: 'Added new data provider Russian Railways. Added 1 day demo mode.'},
                        {version: '1.0.4.8 (2014/12/30, OS 10.3.1+)', description: 'Fixed showing time to next train for "All days" mode of Yandex.Trains.'},
                        {version: '1.0.4.7 (2014/12/22, OS 10.3.1+)', description: 'Fixed Aeroexpress.Moscow routes tables. Updated UI.'},
                        {version: '1.0.4.6 (2014/12/08, OS 10.3.1+)', description: 'Updated UI.<br>Added saving a route in the Calendar application for Aeroexpress and Yandex.Trains data providers.'},
                        {version: '1.0.4.5 (2014/12/01, OS 10.3.1+)', description: 'Polished Application UI.<br>Added PREMIUM features for all data providers: enable/disable constantly scrolling to the next train on the routes page. Added PREMIUM feature for Metro data provider: enable/disable several routes searching.<br>Added PREMIUM features for iRail.be data provider: language selection, show/hide number of transfers on routes page.'},
                        {version: '1.0.4.4 (2014/11/17, OS 10.3.1+)', description: 'Added new Belgium trains data provider (irail.be) and new features with settings; updated GUI.'},
                        {version: '1.0.4.3 (2014/11/17, OS 10.3.1+)', description: 'Added Belgium trains data provider (irail.be), small improvements.'},
                        {version: '1.0.4.2 (2014/11/12, OS 10.3.1+)', description: 'Bug fixing (locale for aeroexpress & metro, theme selection, routes for SaintP), added option to hide data provider icon on the Search and Routes pages.'},
                        {version: '1.0.4.1 (2014/11/10, OS 10.3.1+)', description: 'Rewritten UI. Added new data providers. Introduced Premium Features to support developer.'},
                        {version: '1.0.1.0 (2014/05/16, OS 10.2+)', description: 'fixed ui'},
                        {version: '1.0.0.9 (2014/05/12, OS 10.2+)', description: 'Added transliteration according to "ГОСТ Р 52535.1-2006"'},
                        {version: '1.0.0.8 (2013/11/21, OS 10.2+)', description: 'Updated UI, improved date selector and cache handling'},
                        {version: '1.0.0.7 (2013/11/18, OS 10.2+)', description: 'Updated main script UI, added Flurry Analytics.'},
                        {version: '1.0.0.6 (2013/11/12, OS 10.2+)', description: 'Updated UI; bug fixes; time shift; favorites list improvement'},
                        {version: '1.0.0.5 (2013/11/11, OS 10.2+)', description: 'Updated UI; fixed bugs.'},
                        {version: '1.0.0.3 (2013/11/04, OS 10.2+)', description: 'Updated UI, highlight the next train, fixed bugs'},
                        {version: '1.0.0.2 (2013/11/01, OS 10.2+)', description: 'Updated UI, fixed caching.'}
                    ],
                    url: 'http://appworld.blackberry.com/webstore/content/39880926'
                });

                slides.push({
                    image: 'https://appworld.blackberry.com/webstore/servedimages/38493228.png/?t=12',
                    text: 'VK10',
                    description: '"VK10" is the vk.com full featured client for BlackBerry10.<br><br>\
<p>The application is on the early state of the development process. Only donaters of 300+ rubles can influence on the application features implementation sequence and get promocode for BBW.</p>\
<table border="0" cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto">\
    <tr>\
        <td>\
            <div style="padding: 0.6em; background-color: #DAE6F2; border: 1px solid #B8CFE6; border-radius: 7px; -moz-border-radius: 7px;">\
                <a href="https://money.yandex.ru/embed/?from=sbal" title="Виджеты Яндекс.Денег" style="width: 200px; height: 100px; display: block; margin-bottom: 0.6em; background: url(\'https://money.yandex.ru/share-balance.xml?id=329636802&key=59B01BAF0D163C74\') 0 0 no-repeat; -background: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=\'https://money.yandex.ru/share-balance.xml?id=329636802&key=59B01BAF0D163C74\', sizingMethod = \'crop\');"></a>\
                <form action="https://money.yandex.ru/direct-payment.xml" method="post">\
                    <input type="hidden" name="receiver" value="410013433206577"/>\
                    <input type="hidden" name="sum" value="300"/>\
                    <input type="hidden" name="destination" value="Яндекс.Деньги &#8212; на хорошее дело не жалко!"/>\
                    <input type="hidden" name="FormComment" value="Пожертвование через виджет &#171Мой баланс&#187;"/>\
                    <input type="submit" value="Поддержать проект" style="margin-top: 0.6em; width: 100%;"/>\
                </form>\
            </div>\
        </td>\
    </tr>\
</table>\
<h3><strong>Features</strong>:</h3>\
<ol>\
<li>Changing message status.</li>\
<li>Contacts list.</li>\
<li>Private chats.</li>\
</ol>\
<h3><strong>In Progress</strong>:</h3>\
<ol>\
<li><a href="https://appworld.blackberry.com/webstore/vendor/45561/">Pumano</a>: Audio Player.</li>\
<li><a href="https://appworld.blackberry.com/webstore/vendor/76432/">Troll Sid</a>: Upload in chats and changing user avatar.</li>\
<li><a href="https://appworld.blackberry.com/webstore/vendor/39984/">xnike</a>: Private chats UI performance.</li>\
</ol>\
<h3><strong>Backlog</strong>:</h3>\
<ol>\
<li>Contacts integration.</li>\
<li>Group chats.</li>\
<li>Hub integration.</li>\
<li>Chats managements.</li>\
</ol>',
                    releases: [
                        {version: '1.0.1.7 (2016/01/12, OS 10.3.1+)', description: 'TrollSid:<br>\
fixed Audio page;<br>\
fixed NewsFeed page.<br>\
<br>\
xnike:<br>\
#19 - hub integration;<br>\
#132 - new loading more implementation;<br>\
#135 - data caching improvements;<br>\
refactoring.'},
                        {version: '1.0.1.6 (2016/01/07, OS 10.3.1+)', description: 'TrollSid:<br>\
fixed Audio page;<br>\
fixed NewsFeed page.<br>\
<br>\
xnike:<br>\
#93 - pagination on group search sheet;<br>\
#121 - chat actions history on chat page;<br>\
#132 - new loading more implementation;<br>\
#133 - user selection and searching sheets;<br>\
#134 - battery saving settings for long poller;<br>\
refactoring.'},
                        {version: '1.0.1.5 (2016/01/02, OS 10.3.1+)', description: 'TrollSid:<br>\
fixed Audio page;<br>\
fixed NewsFeed page.<br>\
<br>\
xnike:<br>\
#109 - group chat cover;<br>\
#121 - chat actions history on chat page;<br>\
#125 - chat page background;<br>\
#127 - contacts online status;<br>\
#128 - unification of showing dates;<br>\
#130 - duplication of send message on chat page;<br>\
#131 - sending message to yourself;<br>\
refactoring.'},
                        {version: '1.0.1.4 (2015/12/23, OS 10.3.1+)', description: 'TrollSid:<br>\
fixed Audio page;<br>\
fixed NewsFeed page.<br>\
<br>\
xnike:<br>\
#125 - chat page background;<br>\
#126 - auto scrolling to top on incoming message at chats page;<br>\
#127 - contacts online status;<br>\
fixed cleaning db cache on application startup after db scheme update;<br>\
refactoring.'},
                        {version: '1.0.0.5 (2015/08/30, OS 10.3.1+)', description: 'xnike: Updating chat, chats, contacts pages. Polishing UI.<br>\
TrollSid: Geo tags in chats and walls. Cache settings.<br>\
Pumano: Audio page.'},
                        {version: '1.0.0.4 (2015/08/26, OS 10.3.1+)', description: 'Fixed bugs.'},
                        {version: '1.0.0.3 (2015/08/25, OS 10.3.1+)', description: '1. Fixed on the About page: leave review, invite to download.<br>\
2. Improvements in chats.<br>\
3. Updated UI.'},
                        {version: '1.0.0.1 (2015/08/24, OS 10.3.1+)', description: 'Initial alpha release for public.'}
                    ],
                    url: 'http://appworld.blackberry.com/webstore/content/59971153'
                });

                $scope.$watch('slides[0].active', function() {
                    if (slides[0].active) {
                        $scope.selectedSlide = slides[0];
                        location.hash = '#0';
                    }
                });

                $scope.$watch('slides[1].active', function() {
                    if (slides[1].active) {
                        $scope.selectedSlide = slides[1];
                        location.hash = '#1';
                    }
                });

                $scope.$watch('slides[2].active', function() {
                    if (slides[2].active) {
                        $scope.selectedSlide = slides[2];
                        location.hash = '#2';
                    }
                });

                $scope.$watch('slides[3].active', function() {
                    if (slides[3].active) {
                        $scope.selectedSlide = slides[3];
                        location.hash = '#3';
                    }
                });

                $scope.$watch('slides[4].active', function() {
                    if (slides[4].active) {
                        $scope.selectedSlide = slides[4];
                        location.hash = '#4';
                    }
                });

                if (undefined != location.hash && '' != location.hash) {
                    var index = parseInt(location.hash.substring(1), 10);

                    if (0 < index && slides.length > index) {
                        slides[index].active = true;
                        $scope.selectedSlide = slides[index];
                    }
                }
            }).filter('to_trusted', ['$sce', function($sce){
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }]);
        </script>

        <div style="text-align: center;">All applications are developed according to <a href="privacy-policy.html">Privacy Policy</a></div><br>
        <div ng-app="ui.bootstrap.blackberry.apps">
            <div ng-controller="CarouselCtrl">
                <div>
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <a href="{{slide.url}}"><img ng-src="{{slide.image}}" style="margin:auto;"><div class="carousel-caption"><p>{{slide.text}}</p></div></a>
                        </slide>
                    </carousel>
                </div>

                <tabset justified="true">
                    <tab heading="Description"><p ng-bind-html="selectedSlide.description | to_trusted"></p></tab>
                    <tab heading="Releases">
                        <accordion close-others="oneAtATime">
                            <accordion-group heading="{{release.version}}" ng-repeat="release in selectedSlide.releases"><p ng-bind-html="release.description"></p></accordion-group>
                        </accordion>
                    </tab>
                </tabset>
            </div>
        </div>
    </body>
</html>